<?xml version="1.0"?>
<robot name="danieljr_armed" xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:macro name="scara_structure" params="prefix conex_link lp up">

    <xacro:include filename="$(find danieljr_armed_description)/urdf/utils/utils.urdf.xacro"/>
    <xacro:include filename="$(find danieljr_armed_description)/urdf/arm/gripper.urdf.xacro"/>
    <!-- <xacro:utils/> -->

    <link name="${prefix}arm_base_link">
        <collision name="${prefix}arm_base_collision">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
        <geometry>
            <box size="0.30000 0.30000 0.20000"/>
        </geometry>
        </collision>
        <inertial>
        <inertia ixx="0.41667" ixy="0.00000" ixz="0.00000" iyy="0.41667" iyz="0.00000" izz="0.30000"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
        <mass value="20.00000"/>
        </inertial>
        <visual name="${prefix}arm_base">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
        <material name="Material.023"/>
        <geometry>
            <box size="0.30000 0.30000 0.20000"/>
        </geometry>
        </visual>
    </link>

    <link name="${prefix}arm_1_link">
        <collision name="${prefix}arm_1_collision">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.27750 0.00000 0.00000"/>
        <geometry>
            <mesh filename="package://danieljr_armed_description/meshes/dae/Cube.007.dae" scale="0.42500 0.15000 0.05000"/>
        </geometry>
        </collision>
        <inertial>
        <inertia ixx="0.08493" ixy="0.00000" ixz="-0.00000" iyy="1.50283" iyz="0.00000" izz="1.57109"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.26411 0.00000 0.00000"/>
        <mass value="10.00000"/>
        </inertial>
        <visual name="${prefix}arm_1">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.27750 0.00000 0.00000"/>
        <material name="arm.001"/>
        <geometry>
            <mesh filename="package://danieljr_armed_description/meshes/dae/Cube.005.dae" scale="0.42500 0.15000 0.05000"/>
        </geometry>
        </visual>
    </link>

    <link name="${prefix}arm_1_2_link">
        <collision name="${prefix}arm_1_2_collision">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.05000"/>
        <geometry>
            <cylinder radius="0.15000" length="0.20000"/>
        </geometry>
        </collision>
        <inertial>
        <inertia ixx="0.01792" ixy="0.00000" ixz="0.00000" iyy="0.01792" iyz="0.00000" izz="0.02250"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.05000"/>
        <mass value="2.00000"/>
        </inertial>
        <visual name="${prefix}arm_1_2">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.05000"/>
        <material name="arm"/>
        <geometry>
            <cylinder radius="0.15000" length="0.20000"/>
        </geometry>
        </visual>
    </link>

    <link name="${prefix}arm_2_link">
        <collision name="${prefix}arm_2_collision">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.82865 -0.00000 0.00000"/>
        <geometry>
            <mesh filename="package://danieljr_armed_description/meshes/dae/Cube.003.dae" scale="0.50000 0.15000 0.05000"/>
        </geometry>
        </collision>
        <inertial>
        <inertia ixx="0.00804" ixy="0.00000" ixz="0.00000" iyy="0.07559" iyz="0.00000" izz="0.08209"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.54541 0.00000 0.00000"/>
        <mass value="1.00000"/>
        </inertial>
        <visual name="${prefix}arm_2">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.82865 -0.00000 0.00000"/>
        <material name="Material.021"/>
        <geometry>
            <mesh filename="package://danieljr_armed_description/meshes/dae/Cube.003.dae" scale="0.50000 0.15000 0.05000"/>
        </geometry>
        </visual>
    </link>

    <link name="${prefix}arm_2_tcp_link">
        <collision name="${prefix}arm_2_tcp_collision">
        <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 0.85000"/>
        <geometry>
            <cylinder radius="0.10000" length="2.20000"/>
        </geometry>
        </collision>
        <inertial>
        <inertia ixx="0.20292" ixy="0.00000" ixz="0.00000" iyy="0.20292" iyz="0.00000" izz="0.00250"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.85000"/>
        <mass value="0.50000"/>
        </inertial>
        <visual name="${prefix}arm_2_tcp">
        <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 0.85000"/>
        <material name="Material.022"/>
        <geometry>
            <cylinder radius="0.10000" length="2.20000"/>
        </geometry>
        </visual>
    </link>

    <joint name="${prefix}arm_base_link_joint" type="fixed">
        <origin rpy="0.00000 0.00000 0.00000" xyz="-0.15000 0.00000 0.11233"/>
        <parent link="${prefix}${conex_link}"/>
        <child link="${prefix}arm_base_link"/>
    </joint>

    <joint name="${prefix}arm_1_link_joint" type="revolute">
        <limit lower="-3.14160" upper="3.14160" effort="1000.00000" velocity="10.00000"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.15000"/>
        <parent link="${prefix}arm_base_link"/>
        <child link="${prefix}arm_1_link"/>
        <axis xyz="0.00000 0.00000 1.00000"/>
    </joint>

    <joint name="${prefix}arm_1_2_link_joint" type="fixed">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.80000 0.00000 0.00000"/>
        <parent link="${prefix}arm_1_link"/>
        <child link="${prefix}arm_1_2_link"/>
    </joint>

    <joint name="${prefix}arm_2_link_joint" type="revolute">
        <limit lower="-3.14000" upper="3.14000" effort="1000.00000" velocity="10.00000"/>
        <origin rpy="0.00000 0.00000 -3.14159" xyz="0.00000 0.00000 0.10000"/>
        <parent link="${prefix}arm_1_2_link"/>
        <child link="${prefix}arm_2_link"/>
        <axis xyz="0.00000 0.00000 1.00000"/>
    </joint>

    <joint name="${prefix}arm_2_tcp_link_joint" type="prismatic">
        <limit lower="${lp}" upper="${up}" effort="1000.00000" velocity="10.00000"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="1.40000 0.00000 0.00000"/>
        <parent link="${prefix}arm_2_link"/>
        <child link="${prefix}arm_2_tcp_link"/>
        <axis xyz="0.00000 0.00000 -1.00000"/>
    </joint>

    <!-- <xacro:gripper_structure arm_link="arm_2_tcp_link" mc="0.06000" lr="-3.14160" ur="3.14000"/> -->

</xacro:macro>
</robot>
